#ogpage, #newpage {
    margin: auto;
    height: 700px;
    justify-content: center;
    align-items: center;
}

#ogpage{
    gap: 102px;
    display: flex;
}

#newpage {
    width: 600px;
    text-align: center;
}

#submit:hover, #playagain:hover{
    outline: 3px solid #9680a7;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #9A8C98;
    margin-bottom: 0px;
}

#title {
    margin-bottom: 1em;
}

h1 {
    font-family: 'Itim', cursive;
    font-size: 64px;
    color: #575757;
    margin-top: 0px;
}

input, label {
    display: block;
}

input, select {
    margin-bottom: 26px;
    height: 32px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif; 
    border: 2px solid #9A8C98;
    border-radius: 5px;
}

input[type="text"]:focus {
    outline: 1.5px solid #9A8C98;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
    font-family: 'Itim', cursive;
    font-size: 20px;
    color: #575757; 
}

label span {
    color: #E25C5C;
}

input {
    width: 485px;
}


small {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #9A8C98; 
}

#submit, #playagain {
    background-color: #B9A7C6;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 44px;
    font-size: 20px;
    font-family: 'Itim', cursive;
    margin: auto;
}

#playagain {
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}


header {
    align-items: center;
}

article {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #575757;
    margin-bottom: 1em;
}

span {
    font-weight: 800;
}

#newpage {
    display: none;
}
